----------| chat-room-font-size - Default

    font-size: inherit !important
}

#chat-messages #timestamp {

----------| chat-room-font-size - 14px

    font-size: 14px !important;
}

#chat-messages #timestamp {
    font-size: 12px !important;

----------| chat-room-images - Default

    width: 24px !important;
    height: 24px !important;

----------| chat-room-images - 20px

    width: 20px !important;
    height: 20px !important;

----------| chat-room-images - Hidden

    display: none !important;

----------| chat-room-a-colour - Red
#FF0000
- Green
#008000
- Blue
#0000FF
- Coral
#FF7F50
- Yellow Green
#9ACD32
- Orange Red
#FF4500
- Sea Green
#2E8B57
- Goldenrod
#DAA520
- Cadet Blue
#5F9EA0
- Dodger Blue
#1E90FF
- Blue Violet
#8A2BE2
- Spring Green
#00FF7F

----------| darker-theme - Disabled

----------| darker-theme - Enabled

body,
html,
ytd-app,
.style-scope .ytd-watch-flexy,
#panel-pages.style-scope.yt-live-chat-renderer,
#contents.style-scope.yt-live-chat-item-list-renderer {
    background-color: #0E0E10 !important
}


----------| remove-am-pm - Default

----------| remove-am-pm - Method 1 (Firefox)

#chat-messages #timestamp {
    max-width: 30px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: '' !important;
    display: inline-block !important;
    margin-bottom: -3px !important;
    margin-right: 3px !important
}

----------| remove-am-pm - Method 2 (Chrome)

#chat-messages #timestamp {
    max-width: 24px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: '' !important;
    display: inline-block !important;
    margin-bottom: -3px !important;
    margin-right: 6px !important
}
